// --- events ---------------------------------------------------------------------

.events {
  @extend %section;
}

.events__items {
  @extend %unstyled;
}

.events__item {
  margin: 2.8em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child,
  &:last-child p {
    margin-bottom: 0;
  }
}

.events__name {
  @extend %headline;
  font-size: 32px;
  margin: 0 0 .3em;
}

.events__date {
  margin-top: 0;
}

// --- media queries -----------------------------------------------------------

@include min-screen($breakpoint-small) {
  .events__items {
    margin-left: -4%;
  }

  .events__item {
    float: left;
    width: 46%;
    margin: 1.4em 0 1.4em 4%;

    &:nth-child(2n+1) {
      clear: left;
    }

    &:first-child {
      margin-top: 1.4em;
    }
  }
}

@include min-screen($breakpoint-large) {
  .events__items {
    margin-left: -3%;
  }

  .events__item {
    width: 30%;
    margin-left: 3%;

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(3n+1) {
      clear: left;
    }
  }
}
