// --- how-it-works ------------------------------------------------------------

.how-it-works {
  @extend %section-background;
  @extend %section-sharpen;
  color: $color-white;
  background-image: image-url('bg-how-it-works.jpg');
}

.how-it-works__text {
  h2 {
    margin-top: 0;
  }
}

// --- media queries -----------------------------------------------------------

@include min-screen($breakpoint-large) {
  .how-it-works__text {
    width: 60%;
  }
}
