// --- intro: variables --------------------------------------------------------

$intro-logo-width: 399px;

// --- intro -------------------------------------------------------------------

.intro {
  @extend %section;
  padding-top: 90px;
}

.intro__logo {
  display: block;
}

.intro__text {
  margin-top: 20px;
  font-size: 18px;
}

.intro__button {
  @extend %button-full-centered;
}

// --- media queries -----------------------------------------------------------

@include min-screen($breakpoint-small) {
  .intro__button {
    @include button-width-auto();
  }
}

@include min-screen($breakpoint-large) {
  .intro__logo {
    float: left;
    width: $intro-logo-width;
    margin: 0 50px 0 40px;
  }

  .intro__text {
    @include calc('width', "100% - #{$intro-logo-width} - 90px");
    float: right;

    h1 {
      margin-top: 0;
    }
  }
}
