{% extends 'event/index.html' %}
{% load staticfiles %}

{% block headers %}
  <title>Make Things: a global community of Internet of Things Makers</title>
  <meta name="description" content="Make Things in {{ website.event.city }} is a free, one-day event that will get you excited and teach you everything you want to know about the world of hardware, Internet of Things and Maker Movement.">
  <meta name="keywords" content="internet of things, IoT, hardware, maker, maker movement, drones, ar drone, programming, electronics, DIY, arduino, rasbperry pi, 3d printing, 3d modeling, event, free, workshop, make things, makerland">
{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}

  {% include 'core/includes/intro.html' %}

  <section id="goal" class="goal">
    <div class="l-container">
      <div class="goal__text">
            <h2>Mission</h2>
            <p>
                We believe that technology is for people. People should be able to fix things they buy, understand
                how they work and be able to turn their ideas into reality. Technology should makes our lives easier and more joyful.
                With the rapid popularization of amazing technologies like Arduino, Raspberry Pi or 3D printing, we believe that
                everyone who is resourceful and creative can be a Maker.
            </p>
            <p>
                So here is the goal: <b>to make it as easy as possible for people to dive into hardware, really understand technology
                and start Making Things.</b> We're trying to achieve this by organizing free, one-day workshops,
                providing resources and tools to local communities and empowering them to become Makers.
            </p>
      </div>
    </div>
  </section>

  <section id="events" class="events">
    <div class="l-container">
      <h2 class="events__headline">Upcoming events:</h2>
      <p class="events__text">Don't see your city on the list? <a href="#yourcity">Organize Make Things in Your City!</a></p>
      <ul class="events__items">
        <li class="events__item">
          <h4 class="events__name"><a href="/berlin">Make Things in Berlin</a></h4>
        </li>
        <li class="events__item">
          <h4 class="events__name"><a href="/vienna">Make Things in Vienna</a></h4>
        </li>
        <li class="events__item">
          <h4 class="events__name"><a href="/krakow">Make Things in Kraków</a></h4>
        </li>
        <li class="events__item">
          <h4 class="events__name"><a href="/paris">Make Things in Paris</a></h4>
        </li>

      </ul>

    </div>
  </section>

  <div id="yourcity" class="about">
    <div class="l-container">
      <section class="about__box">
        <h2>Make Things in your city?</h2>
        <p>
          You can have Make Things event in your city, too! Every Make Things event is organized by a local team of volunteers who are passionate friends with a global help from Makerland team. Help us spread the joy of making things and bring Make Things event to your city.
        </p>
        <a href="/inyourcity/" class="button about__button">Organize Make Things</a>
      </section>
    </div>
  </div>

  <section id="team" class="organizers">
    <div class="l-container">
      <h2 class="organizers__headline">Who is behind this?</h2>
      <p class="organizers__text">Make Things was started by a team that also created <a href="http://makerland.org/">Makerland, awesome Maker Conference</a> and <a href="http://book.makerland.org/">Tutorials: Your First Steps with the Internet of Things</a>.</p>
      <ul class="organizers__items">

            <li class="organizers__item">
              <figure class="organizer">
               <img class="organizer__icon" src="{% static 'core/img/ola.png' %}" alt="Ola Sitarska">
                <p class="organizer__name">Ola Sitarska</p>
                <a href="http://twitter.com/olasitarska" class="organizer__twitter" target="_blank">@olasitarska</a>
              </figure>
            </li>
            <li class="organizers__item">
              <figure class="organizer">
               <img class="organizer__icon" src="{% static 'core/img/przemek.png' %}" alt="Przemek Lewandowski">
                <p class="organizer__name">Przemek Lewandowski</p>
                <a href="http://twitter.com/haxoza" class="organizer__twitter" target="_blank">@haxoza</a>
              </figure>
            </li>
            <li class="organizers__item">
              <figure class="organizer">
               <img class="organizer__icon" src="{% static 'core/img/kuba.png' %}" alt="Kuba Kucharski">
                <p class="organizer__name">Kuba Kucharski</p>
                <a href="http://twitter.com/83tb" class="organizer__twitter" target="_blank">@83tb</a>
              </figure>
            </li>


      </ul>
    </div>
  </section>

  <section id="social" class="contact">
    <div class="l-container">
      <h2 class="contact__headline">Subscribe to latest news</h2>
      <form action="http://makethings.us8.list-manage.com/subscribe/post?u=3eb2b1d5cb14aeaa45e344abe&amp;id=c7d823ea28" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form validate" target="_blank" novalidate>
        <p class="form__text">
          If you want to be informed about next events organized by our community, let's stay in touch:
        </p>
        <div class="form__row">
          <div class="form__row-input">
            <input type="text" class="form__input" placeholder="Your name">
          </div>
          <div class="form__row-input form__row-input--email">
            <input type="email" class="form__input" placeholder="Your e-mail">
          </div>
        </div>
        <div class="form__row">
          <button type="submit" class="form__submit">Subscribe</button>
        </div>
      </form>


      <h2 class="contact__headline">Follow us on social media</h2>
      <div class="contact__social-media">
        <div class="contact__facebook fb-like-box" data-href="http://facebook.com/makethingsio" data-colorscheme="dark" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
        <a href="https://twitter.com/makethings_" class="contact__twitter twitter-follow-button" data-show-count="false" data-size="large">Follow @makethings_</a>
      </div>
    </div>
  </section>

{% endblock %}

{% block footer %}
  <div class="footer-wrapper">
    <footer class="footer">
      <div class="l-container">
        <p class="footer__contact">
          Contact us:<br>
          <a href="mailto:hello@makethings.io">hello@makethings.io</a>
        </p>
        <div class="fb-like" data-href="http://facebook.com/makethingsio" data-send="false" data-width="330" data-show-faces="true"></div>
      </div>
    </footer>
  </div>
{% endblock %}
