// --- core --------------------------------------------------------------------

body {
  background: $color-white;
  font-family: $base-font-family;
  font-size: 15px;
  line-height: 1.4;
}

ul,
ol,
p {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

h1,
h2 {
  @extend %headline;
  text-align: center;

  @include min-screen($breakpoint-large) {
    text-align: left;
  }
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 46px;
}

img {
  max-width: 100%;
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    color: $color-blue-darker;
    text-decoration: underline;
  }
}

.is-hidden {
  display: none;
}
