// --- variables ---------------------------------------------------------------


// --- variables: fonts --------------------------------------------------------

$base-font-family: 'Droid Sans', 'Open Sans', sans-serif;

$font-bebas: 'Bebas Neue';

// --- variables: colors -------------------------------------------------------

$color-white: #fff;

$color-black: #000;

$color-gray: #ddd;
$color-gray-darker: #5e5e5e;

$color-blue: #29aae2;
$color-blue-darker: #2a6496;

$color-red: #e22a16;

// --- variables: rwd ----------------------------------------------------------

$breakpoint-small: 768px;
$breakpoint-large: 1024px;
