{% load staticfiles %}
<section id="intro" class="intro">
    <div class="l-container">
      <img src="{% static 'event/img/logo.png' %}" class="intro__logo" alt="Make Things's logo">
      <div class="intro__text">
        <h1>Make Things!</h1>
        <p>
            Make Things is a series of free workshops for people who want to dive into the world of hardware, learn about the Internet of Things, programming, DIY and electronics.
            Make Things is also a global community of Makers - people who love technology, but also love to create, build and solve their own problems.
        </p>
        <a href="#events" class="button intro__button" data-scroll>Check out our workshops</a>
      </div>
    </div>
</section>